@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-master/Roboto-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url('../fonts/Roboto-master/Roboto-BlackItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-master/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-BoldCondensed';
  src: url('../fonts/Roboto-master/Roboto-BoldCondensed.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-BoldCondensedItalic';
  src: url('../fonts/Roboto-master/Roboto-BoldCondensedItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('../fonts/Roboto-master/Roboto-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Condensed';
  src: url('../fonts/Roboto-master/Roboto-Condensed.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-CondensedItalic';
  src: url('../fonts/Roboto-master/Roboto-CondensedItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Italic';
  src: url('../fonts/Roboto-master/Roboto-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-master/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('../fonts/Roboto-master/Roboto-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-master/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('../fonts/Roboto-master/Roboto-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-master/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/Roboto-master/Roboto-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-ThinItalic';
  src: url('../fonts/Roboto-master/Roboto-ThinItalic.ttf') format('truetype');
}
a {
	text-decoration: none;
      /* хедер */
}
.header-container {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-top: 50px;
  vertical-align: top;
  text-align: center;
}
.logo {
  float: left;
  margin-left: 140px;
  /*margin-top: 35px; */
}
.user-block li {
  float: left;
  list-style-type: none;
  padding-left: 30px;
  font-family: Roboto-Thin;
  font-size: 18px;
}
.user-block ul {
  float: left;
  margin-left: 455px;
  text-align: center;
  /*margin-top: 35px; */
}
.basket img {
  float: left;
  padding-right: 20px;
}
.basket a {
  float: right;
  margin-right: 150px;
  font-family: Roboto-Thin;
  font-size: 18px;
  text-align: right;
  margin-top: -20px; 
}
  /*основая часть */
.main-container {
 display: inline-block;
 width: 1400px;
 height: auto;
}
.lend {
  display: inline-block;
  width: 1300px;
  height: auto;
  padding: 0px;
}
.lend-left {
  display: inline-block;
  width: 500px;
  height: auto;
  margin-left: 0px;

}
.lend-left h1 {
  font-family: Roboto-Regular;
  font-size: 50px;

}
.lend-right {
  float: right;
}
.features-about li {
  list-style-type: none;
}
.features-web {
  display: inline-block;
  margin-left: 140px;
  margin-top: 70px;
  text-align: left;
}
.web {
  float: left;
  padding-right: 100px;
}
.play {
  float: left;
  padding-right: 100px;
}
.present {
  float: right;
}
.features-about {
  display: inline-block;
  margin-left: 140px;
  height: auto;
  margin-top: 200px;
}
.about-left {
  display: inline-block;
  widht: 650px;
  margin-right: 130px;

}
.about-right {
  float: right;
}
.logotipy {
  display: inline-block;
  margin-left: 175px;
  margin-top: 210px;
  padding-right: 100px;
}
.logo-1 {
  float: left;
  margin-right: 100px;
}
.logo-2 {
  float: left;
  margin-right: 100px;
}
.logo-3 {
  float: left;
  margin-right: 100px;
}
.logo-4 {
  float: right;
  
}

    /* футер */
.footer-container {
  display: inline-block;
  width: 1400px;
  height: auto;
  margin-top: 100px;
  
}
.pishitenam {
  float: left;
  width: 320;
  height: auto;
  margin-left: 150px; 
}
.cursor {
  float: right;
  margin-right: 400px;
}
.footer-social {
  display: inline-block;
}
.footer-social li {
  list-style-type: none;
}
.sale {
  display: inline-block;
  margin-left: 30;
}
 /* страница каталога */
 .item-container h1 {
  text-align: center;
  margin-top: 100px;
 }
.price {
  display: inline-block;
  margin-top: 200px;
  margin-left: 0px;
  width: 400px;
  height: auto;
}
.price-st {
  display: inline-block;
  margin-top: 100px;
}
.setka li {
  list-style-type: none;
}
.option li {
  list-style-type: none;
}
.sorting {
  

}
.portfolio {
  display: inline-block;
  margin-left: 400px;
  margin-right: 140px;
  margin-top: -500px;
  padding-bottom: 40px;
  width: 1000px;
} 
.sedona {
  float: left;
  margin-left: 100px;
  margin-bottom: 20px;
}
.pink {
  float: right;
  margin-right: 100px;
  margin-bottom: 20px;
}
.barbershop {
  float: left;
  margin-left: 100px;
  margin-bottom: 20px;
}
.mishka {
  float: right;
  margin-right: 100px;
  margin-bottom: 20px;
}
.aplus {
  float: left;
  margin-left: 100px;
  margin-bottom: 20px;
}
.kvas {
  float: right;
  margin-right: 100px;
  margin-bottom: 20px;
}
.scroll {
  display: inline-block;
  margin-left: 500px;
}